 <div class="notification-container">
    <div class="notification {{ instance.notification.class ? instance.notification.class : 'default' }}">
        <div class="short-message">{{ instance.notification.shortMessage|raw }}</div>
        <div class="date">{{ instance.notification.dateCreatedNice }}</div>
        {% if instance.notification.longMessage and instance.notification.longMessage != ""  %}
            <div class="long-message">
                {{ instance.notification.longMessage|raw }}
            </div>
        {% endif %}
    </div>
</div>