{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <link rel="stylesheet" href="{{ asset('bundles/ccetcnotification/css/notification-list.css') }}" type="text/css" media="all">

    <div class="notification-list-conatiner">
        <div class="heading">
            <h3>Notifications</h3>
        </div>
        {% for instance in newNotifications %}
            {% include 'CCETCNotificationBundle:Block:_notification.html.twig' with {'instance' : instance} %}
        {% endfor %}

        {% if newNotifications|length == 0 and oldNotifications|length == 0 %}
            <div class="notification-container">
                <div class="notification">No Notifications</div>
            </div>
        {% elseif newNotifications|length == 0 and not showOld %}
            <div class="notification-container">
                <div class="notification">No New Notifications</div>
            </div>
            <div class="notification-container" style="padding: 6px; text-align: center; font-size: 12px;">
                <a href="?showOld=1">view old</a>
            </div>
        {% elseif oldNotifications|length > 0 and not showOld %}
            <div class="notification-container" style="padding: 6px; text-align: center; font-size: 12px;">
                <a href="?showOld=1">more</a>
            </div>            
        {% endif %}
            
        {% if showOld %}    
            {% for instance in oldNotifications %}
                {% include 'CCETCNotificationBundle:Block:_notification.html.twig' with {'instance' : instance} %}
            {% endfor %}
        {% endif %}
   </div>
{% endblock %}