{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <link rel="stylesheet" href="{{ asset('bundles/ccetcnotification/css/notification-list.css') }}" type="text/css" media="all">

    <div class="ccetc-widget-container">
        <div class="ccetc-widget-heading">
            <h3>Notifications
            {% if newNotifications|length > 0 %}
                <span class="item-count">
                    {{ newNotifications|length }}
                </span>
                &nbsp;
            {% endif %}
            </h3>
        </div>
        {% include 'CCETCNotificationBundle:Notification:_notification_list.html.twig' with {'instances' : newNotifications, 'active' : true } %}
        {% include 'CCETCNotificationBundle:Notification:_notification_list.html.twig' with {'instances' : oldNotifications, 'active' : false } %}
        {% if oldNotifications|length == 0 and newNotifications|length == 0 %}
            <div class="ccetc-item-container">
                <div class="ccetc-item ccetc-meta-item">
                    No Notifications
                </div>
            </div>
        {% endif %}        
   </div>
{% endblock %}