{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div style="width: 600px;">
    {% include 'CCETCNotificationBundle:Notification:_notification.html.twig' with {'notification' : object, 'active' : false, 'last' : true, 'showLongMessage' : false } %}
    </div>
{% endblock %}