{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% for instance in object.instances %}
        <a href="{{ admin.userAdmin.generateObjectUrl('show', instance.user) }}">{{ instance.user }}</a><br/>
    {% endfor %}
{% endblock %}