<ul class="pills">
    <li class="{{ action == "myNotifications" ? 'active' : '' }}"><a href="{{ admin.generateUrl('myNotifications') }}">My Notifications</a></li>
    <li class="{{ action == "myTasks" ? 'active' : '' }}"><a href="{{ admin.generateUrl('myTasks') }}">My Tasks</a></li>
</ul>