{% extends base_template %}

{% block title %}
    My Notifications
{% endblock %}
    
{% block content %}          
    <div class="ccetc-widget-container span10">
        {% include 'CCETCNotificationBundle:Notification:_notification_list.html.twig' with {'instances' : instances, 'active' : false } %}
    </div>
{% endblock %}