<div class="ccetc-widget-container" style="margin-top: 15px;">
    <div class="ccetc-widget-heading danger">
        <h3><i class="icon-check" style="font-weight: normal;"></i> My Tasks
        {% if activeTaskCount > 0 %}
            <span class="item-count" style="background: none;">
                {{ activeTaskCount }}
            </span>
            &nbsp;
        {% endif %}
        </h3>
    </div>
    {% include 'CCETCNotificationBundle:Notification:_notification_list.html.twig' with {'instances' : tasks, 'active' : false, 'noNotificationText' : 'No Tasks' } %}
        
</div>
