<?php

namespace CCETC\NotificationBundle\Admin;

use Sonata\AdminBundle\Admin\Admin;
use Sonata\AdminBundle\Form\FormMapper;
use Sonata\AdminBundle\Datagrid\DatagridMapper;
use Sonata\AdminBundle\Datagrid\ListMapper;
use Sonata\AdminBundle\Show\ShowMapper;
use Sonata\AdminBundle\Route\RouteCollection;


class NotificationAdmin extends Admin
{    
    protected $entityIconPath = 'icon-globe';
    
    public function configureRoutes(RouteCollection $collection)
    {
        $collection->add('myNotifications', 'my-notifications');
        $collection->add('notifyStaff', 'notify-staff');
    }
    
    public $listPreHook = array(
        'template' => 'CCETCNotificationBundle:Notification:_menu.html.twig'
    );
    public $formPreHook = array(
        'template' => 'CCETCNotificationBundle:Notification:_menu.html.twig'
    );
    
    public $userAdmin;
    
    public function initialize()
    {
        parent::initialize();
        $this->userAdmin = $this->getConfigurationPool()->getContainer()->get('sonata.user.admin.user');
    }
    
    protected function configureListFields(ListMapper $listMapper)
    {
        
        $listMapper
                ->add('shortMessage', null, array('label' => 'Notification','template' => 'CCETCNotificationBundle:Notification:_list_notification.html.twig'))
                ->add('instances', null, array('label' => $this->trans('users', array(), 'SonataUserBundle').' sent to','template' => 'CCETCNotificationBundle:Notification:_list_staff.html.twig'))
                ->add('_action', 'actions', array(
                    'actions' => array(
                        'view' => array(),
                        'edit' => array(),
                        'delete' => array(),
                    ),
                    'label' => 'Actions'
                ))
        ;
    }
    
    protected function configureDatagridFilters(DatagridMapper $datagridMapper)
    {
        $datagridMapper
                ->add('userCreatedBy', null, array('isInvisible' => true))
        ;

        $user = $this->configurationPool->getContainer()->get('security.context')->getToken()->getUser();
        
        $this->filterDefaults = array(
            'userCreatedBy' => $user->getId()
        );
        
    }
    protected function configureFormFields(FormMapper $formMapper)
    {
        $userRepository = $this->configurationPool->getContainer()->get('doctrine')->getRepository("ApplicationSonataUserBundle:User");
        $users = $userRepository->findAll();
        $userChoices = array();
        
        foreach($users as $user)
        {
            $userChoices[$user->getId()] = $user->__toString();
        }

        
        $formMapper
                ->add('shortMessage')		
                ->add('longMessage', null, array('label' => 'Long Message (optional)'))		
                ->add('users', 'choice', array(
                    'label' => $this->trans('users', array(), 'SonataUserBundle').' to send to',
                    'property_path' => false,
                    'multiple' => true,
                    'expanded' => true,
                    'choices' => $userChoices
                ))
                ->add('class', 'choice', array('label' => 'Type', 'choices' => array(
                    'icon-globe green' => 'normal notification',
                    'icon-attention red' => 'alert',
                    'icon-bell orange' => 'reminder',
                    'icon-info-circle lightBlue' => 'information',
                )))
        ;
    }
    
    protected function configureShowField(ShowMapper $showMapper)
    {
        $showMapper
                ->add('shortMessage')		
                ->add('longMessage')		
                ->add('datetimeCreated')		
                ->add('instances', null, array('label' => $this->trans('users', array(), 'SonataUserBundle').' sent to','template' => 'CCETCNotificationBundle:Notification:_show_users.html.twig'))                
		;
    }
    public function prePersist($object)
    {
        $object->setDatetimeCreated(new \DateTime());

        if( $this->configurationPool->getContainer()->get('security.context')->isGranted('IS_AUTHENTICATED_FULLY')) {
            $user = $this->configurationPool->getContainer()->get('security.context')->getToken()->getUser();
            $object->setUserCreatedBy($user);
        }        
                
        parent::prePersist($object);
    }    
}
