.ccetc-item-container .short-message {
    float: left; 
}

.ccetc-item-container .long-message {
    font-size: 12px;
    color: #666;
    float: left;
    width: 100%;
}

.ccetc-item-container .date {
    color: #ccc;
    float: right;
    font-size: 12px;
    margin-top: 5px;
}