.notification-list-conatiner {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 0 15px 0;
}

.notification-list-conatiner .notification-container {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    overflow: auto;
}

.notification-list-conatiner .notification-container .notification {
    padding: 8px 6px 8px 30px;
    background: no-repeat 7px 9px;
    overflow: auto;
}


.notification-list-conatiner .notification-container .default {
    background-image: url(../images/world.png);
}

.notification-list-conatiner .notification-container .warning {
    background-image: url(../images/warning.png);
}
.notification-list-conatiner .notification-container .reminder {
    background-image: url(../images/reminder.png);
}
.notification-list-conatiner .notification-container .information {
    background-image: url(../images/information.png);
}
.notification-list-conatiner .notification-container .clock-blue {
    background-image: url(../images/clock_blue.png);
}
.notification-list-conatiner .notification-container .clock-red {
    background-image: url(../images/clock_red.png);
}
.notification-list-conatiner .notification-container .newspaper {
    background-image: url(../images/newspaper.png);
}

.notification-list-conatiner .notification-container .short-message {
    float: left; 
}

.notification-list-conatiner .notification-container .long-message {
    font-size: 12px;
    color: #666;
    float: left;
    width: 100%;
}


.notification-list-conatiner .notification-container .date {
    color: #ccc;
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.notification-list-conatiner .heading {
    background-image: -moz-linear-gradient(-90deg, #f8f8f8 , #e2e2e2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E2E2E2));
    padding: 0 12px;
}

