{#<div class="feed-share-container">
    <form>
        <h4>Share something with your Staff</h4>
        <textarea></textarea>
        <input type="submit" class="btn" value="Post" />
    </form>
</div>#}
<div class="ccetc-widget-container" id="feed">

    {% for instance in instances %}
        {% include 'CCETCNotificationBundle:Feed:_feedItem.html.twig' with {'item' : instance.notification, 'instance' : instance, 'first' : loop.first, 'last' : loop.last, 'showLongMessage' : false } %}
        {% endfor %}
        {% if instances|length == 0 %}
            <div class="ccetc-item-container">
                <div class="ccetc-item ccetc-meta-item">
                    {{ noNotificationText is defined ? noNotificationText : 'No Itens' }}
                </div>
            </div>
    {% endif %}        
</div>